.miniplayer{
    height: 50px;
    width: 89%;
    display: -webkit-flex;
    /* justify-content: space-around; */
    background-color: lavender;
    padding: 10px;
    position:fixed;
    bottom:0;
    border-radius: 20px;
    overflow:visible;
}

.bar{
    margin-top: 20px;
    height: 5px;
    width: 88%;
    background-color: rgb(234, 192, 240);
    position:fixed;
    bottom:70px;
    margin-left: 1%;
    overflow:visible;
}
.ballcont{
    position: relative;
    height: 7px;
    width: 7px;
}

.songname{
    width: 10%;
    text-align:end;
    margin-top: 15px;
}
.mediaOption{
    width: 70%;
    display: inline;
    margin-left: 33%;
}
 .play{
    background-color: palevioletred;
    color: white;
}

button{
    height: 40px;
    width: 40px;
    border: 0px;
    color: palevioletred;
    margin-right: 10px;
    border-radius: 50%;
    background-color: transparent;
}

.tracknav{
    background-color: white;
}

.barball{
    position: absolute;
    top:-6px;
    left: 2%;
    height: 15px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    border: 1px palevioletred solid;
}
.songpic{
width: 100px;
}
/* animation-name: ballmove;
    animation-duration: 300s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear; */