<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="miniplayer">
    <div id='songpic' class="songpic">
        
    </div>
    
    <span id="songname" class="songname">
        
    </span>
    <div class="mediaOption">
        <span>
            <button class="tracknav">
                <i class="material-icons ">fast_rewind</i>
            </button>
            <button class="play" (click)="playPause()">
                <i class="material-icons" id="play">play_arrow</i>
            </button>
            <button class="tracknav">
                <i class="material-icons">fast_forward</i>
            </button>
        </span>
    </div>
</div>

<div class="bar" id="bar">
    <div class="ballcont" >    
        <button class="barball" id="barball"></button>
    </div></div>